page-start{
    .title{
        line-height:3rem;
        float:left;
        padding:0;
        width: 25%;
    }
    button.nav{
        background-color:transparent;
      color:#000;
      float:right;
    }
}