page-start {
    .title_title{
        line-height:3rem;
        float:left;
        padding:0;
        width: 25%;
        margin-left:20px;
    }
    .title{
        line-height:3rem;
        float:left;
        
        padding:0;
        width: 100%;
    }
    button.nav{
        background-color:transparent;
      color:#000;
      float:left;
    }
}
