map{

   .locator{
       background-image:url('./../assets/icon/map-marker.png');
       position: absolute;
       left:51.3%;
       top:55.3%; //커질수록 아래로 감.
       width:32px;
       height:32px;
       margin-left: -25px;
       margin-top: -50px;
   }
}