page-profile {
 .phone{
    width: 30%;
    background-color: aliceblue;
    float:left;
 }
 .btn_right{
    float: right;
    background: transparent;
    color: black;
    border: solid 1px;
    margin-top: 2.3rem;
 }
}
