<!--
  Generated template for the ViewRequestListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        
            <ion-navbar>
                
                <div class="title_title">
                  지하철택배(유저)
                </div>
              </ion-navbar>
        
        </ion-header>
        
        
        <ion-content padding>
            <ion-item>
                <ion-label>상태를 선택하세요.</ion-label>
                <ion-select (ionChange)="changed2()" [(ngModel)]="rmodel">
                    <ion-option value="requested">신청완료</ion-option>
                    <ion-option value="assigned">매칭완료</ion-option>
                    <ion-option value="pickup">픽업</ion-option>
                    <ion-option value="finished">배송완료</ion-option>
                    <ion-option value="all">전체보기</ion-option>
                </ion-select>
              </ion-item>
            <!-- <ion-list style="margin-bottom:0px;" radio-group [(ngModel)]="viewSetting">
                <ion-item  >
                    <ion-card [ngClass]="viewStyle_map ? 'viewStyle' : 'viewStyle-clicked'" (click)="viewPickup()">
                        <ion-card-content >
                           픽업중
                        </ion-card-content>
                    </ion-card>
                    <ion-card [ngClass]="viewStyle_list ? 'viewStyle' : 'viewStyle-clicked'" (click)="viewRequested()" >
                        <ion-card-content >
                           신청완료
                        </ion-card-content>
                    </ion-card>
                    <ion-card [ngClass]="viewStyle_map ? 'viewStyle' : 'viewStyle-clicked'" (click)="viewAssigned()">
                        <ion-card-content >
                           매칭완료
                        </ion-card-content>
                    </ion-card>
                    <ion-card [ngClass]="viewStyle_map ? 'viewStyle' : 'viewStyle-clicked'" (click)="viewFinished()">
                        <ion-card-content >
                           완료.
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ion-list> -->
            <ion-list (ionChange)="orderchanged()" radio-group [(ngModel)]="order">
                    
                      <ion-item>
                        <ion-label>오래된 순으로</ion-label>
                        <ion-radio value="old"></ion-radio>
                      </ion-item>
                    
                      <ion-item>
                        <ion-label>새 날짜부터</ion-label>
                        <ion-radio value="new"></ion-radio>
                      </ion-item>
                    
                    </ion-list>
            <ion-list>
                <p *ngFor="let item of result_date">{{item}}
                    <ion-item  >
                        <div class="list" *ngFor="let item2 of result">
                            <p *ngIf="item === item2.onlyDate">
                                <ion-card   >
                                <ion-card-header style="text-align:center">
                                    <p *ngIf="item2.status=='assigned'||item2.status=='pickup'" style="margin-top:0" [style.width.%]=100 class="header">
                                        {{item2.orderNo}}
                                    </p>
                                    <p *ngIf="item2.status=='requested'||item2.status=='finished'"  [style.width.%]=60 class="header">
                                            {{item2.orderNo}}
                                        </p>
                                    <!-- <ng-template #ee>
                                        <p  [style.width.%]=60 class="header">
                                            {{item2.orderNo}}
                                        </p>
                                    </ng-template> -->
                                    <div class="custom2" style="margin-top:5px">
                                            <ng-container *ngFor="let item3 of notification">
                                                <p class="floating" *ngIf="item3.orderNo == item2.orderNo&&item3.value!=0">
                                                    {{item3.value}}
                                                </p>
                                            </ng-container>
                                            <button *ngIf="item2.status=='assigned'||item2.status=='pickup'" style="float:left" class="chat" ion-button (click)="chat(item2)">채팅</button> 
                                            <button *ngIf="item2.status=='assigned'||item2.status=='pickup'" style="float:right" class="chat" ion-button (click)="cancel(item2,'assigned')">취소</button> 
                                        </div>
        
                                        <div class="custom" style="margin-top:5px">
                                            <button *ngIf="item2.status=='requested'" style="float:right" class="chat" ion-button (click)="cancel(item2,'requested')">취소</button> 
                                            </div>
                
                                            <div class="custom" style="margin-top:5px">
                                                <button *ngIf="item2.status=='finished';" style="float:right" class="chat" ion-button (click)="review(item2)">리뷰남기기</button> 
                                            </div>
                                            <div class="custom" style="margin-top:5px">
                                                <p *ngIf="item2.status=='finished_review';"  (click)="review(item2)">리뷰까지완료되었습니다. 감사합니다.</p> 
                                                </div>
                                </ion-card-header>
                                <ion-card-content>
                                출발역 : {{item2.startPoint}} <br>
                                <p style="margin:0px;" *ngIf="item2.startDetail.length!=0">출발상세:  {{item2.startDetail}}</p>
                                도착역:  {{item2.endPoint}} &nbsp; &nbsp; <br>
                                <p style="margin:0px;" *ngIf="item2.endDetail!=''">도착상세: {{item2.endDetail}}</p>
                                신청시간 : {{item2.create_date}}<br>
                                매칭시간 : {{item2.matchedDate}}<br>
                                배달원ID : {{item2.deliveryGuy}}<br>
                                현재상태 : {{item2.status}} &nbsp; <br>
                                </ion-card-content>
                                </ion-card  >
                            </p>
                        </div>
                    </ion-item>
                </p>
            </ion-list>
          
        </ion-content>
        