page-view-request-list {
    .title_title{
        line-height:4.5rem;
        float:left;
        padding:0;
        width: 25%;
        margin-left:20px;
    }
    .title{
        line-height:4.5rem;
        float:left;
        
        padding:0;
        width: 70%;
    }
    .chat{
        background-color:transparent;
        color:#000;
    }
    .nav {
        
            background-color:transparent;
            color:#000;
            float:left;
      
    }
}
