<!--
  Generated template for the ViewRequestListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button start class="nav" (click)="goBack()" ion-button >
          <ion-icon name="arrow-back" ></ion-icon>
        </button>
        <div class="title_title">
          지하철택배(배달원)
        </div>
      </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <p *ngFor="let item of result_date">{{item}}
            <ion-item  >
                    <ion-card  *ngFor="let item2 of result" >
                      <p *ngIf="item === item2.onlyDate">
                        <ion-card-header>
                        오더번호 : {{item2.orderNo}}
                        </ion-card-header>
                        <ion-card-content>
                        출발역:  {{item2.startPoint}} &nbsp; &nbsp; <br>
                        도착역:  {{item2.endPoint}} &nbsp; &nbsp; <br>
                        신청시간 {{item2.create_date}}<br>
                        
                        현재상태 :  {{item2.status}} &nbsp; <button *ngIf="item2.status=='assigned'" class="chat" ion-button (click)="chat(item2)">Chat</button> <br>
                        </ion-card-content>
                      </p>
                    </ion-card  >
                  </ion-item>
        </p>
          
        
        
    </ion-list>
  
</ion-content>
