

<div class="wrapper">
    <div id="map" ></div>
    <pickup [changeMarker]="changeMarker" [map]="map" [refreshing]="refreshing"  [isPinSet]="isMapIdle" (dragging)="dragging($event)" (updatedPickupLocation)="updatedPickupLocation($event)"></pickup>

    <available-cars [deliveryGuy]="deliveryGuy"  [map]="map" [fetchingExpress]="fetchingExpress"  [isPickupRequested]="isPickupRequested">
      
    </available-cars>
  <pickup-car [map]="map" [isPickupRequested]="isPickupRequested" [pickupLocation]="currentLocation"></pickup-car>
</div>